body {
    background: white;
    color: black;
    line-height: 1.2;
    font-family: Verdana, Arial, 微软雅黑, 黑体, sans-serif;
}

#content {
    max-width: 1080px;
    margin: auto;
}

/* title style */
.title {
    width: 100%;
    display: block;
    line-height: 1.5em;
    overflow: visible;
    font-size: 32px;
    text-shadow: #f3f3f3 1px 1px 0px, #b2b2b2 1px 2px 0;
}

.title:before,
.title:after {
    content: "";
    width: 0;
    height: 0;
    padding: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.title:before {
    border-right: 6px solid black;
    margin-right: 16px;
}

.title:after {
    border-left: 6px solid black;
    margin-left: 16px;
}
/* title style (end) */

/* table of contents */
#table-of-contents {
    margin-bottom: 20px;
}
#table-of-contents p {
    text-indent: 0;
}
#table-of-contents h2 {
    font-size: large;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
}
#table-of-contents h2:hover {
    color: #003459;
}
#table-of-contents #blanket {
    background-color: #111;
    opacity: 0.65;
    filter: alpha(opacity=65);
    position: absolute;
    z-index: 9001;
    top: 0px;
    left: 0px;
    width: 100%;
}
#table-of-contents #text-table-of-contents {
    border: 5px solid #003459;
    position: absolute;
    background-color: #eeeeee;
    width: 300px;
    height: 300px;
    z-index: 9002;
    overflow: auto;
}
#text-table-of-contents ul {
    list-style: none;
}
/* table of contents (end) */

/* header lines */
.outline-2 {
    border: 2px solid #007ea7;
    margin-bottom: 1em;
}
.outline-2 h2 {
    margin: 0 0 30px 0;
    padding: 4px 10px;
    background: #007ea7;
    color: #ffffff;
}
.section-number-2 {
    margin-right: 0.5em;
    color: #00171f;
}
.outline-3 {
    margin-left: 20px;
    margin-right: 20px;
}
.outline-3 h3 {
    padding: 3px 5px;
    border-color: #007ea7;
    border-width: 0 0 0 7px;
    border-style: solid;
    background: #f8f8f8;
}
.outline-4 {
    margin-left: 20px;
    margin-right: 20px;
}
outline-4 h4 {
    padding: 4px 5px;
    border-color: #007ea7;
    border-width: 0 0 1px 0;
    border-style: solid;
    font-style: italic;
    width: auto;
}
.outline-text-4 {
    float: none;
}
/* header lines (end) */

/* postamble */
#postamble {
    background: #ffffff url("../images/ribbon.png") no-repeat center;
    height: 120px;
    text-align: center;
    color: #ffffff;
    padding-top: 35px;
}
#postamble .date {
    color: #00171f;
}
#postamble .validation {
    display: none;
}
/* postamble (end) */


/* org document elements */
.example {
    font-family: 微软雅黑, 黑体;
}

.src {
    font-family: Courier New, Courier, monospace;
    background-color: #1b1d1e;
    color: white;
    overflow: auto;
    margin: 5px;
}
.src:before {
    color: black;
}
blockquote {
    border: #0B0099 4px double;
    padding: 0 14px;
}
blockquote p {
    font-size: 12pt;
    color: black;
    text-align: left;
    text-indent: 24pt;
}
a {
    color: #003459;
}
a:hover {
    color: #007ea7;
}
a:visited {
    color: #00171f;
}
img {
    text-indent: 0;
}
.figure img {
    border: 1px solid black;
}
table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: collapse;
    /* Zebra striping */
}
table tr:nth-of-type(odd) {
    background: #eee;
}
table tr:hover {
    background: #00a8e8;
    color: white;
}
table th {
    background: #00171f;
    color: #ffffff;
    font-weight: bold;
}
table td,
table th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}
.graphml-container {
    width: 100%;
}
.graphml-container embed {
    text-indent: 0;
}
/* ol { */
/*     counter-reset: li; */
/*     /\* Initiate a counter *\/ */
/*     list-style: none; */
/*     /\* Remove default numbering *\/ */
/*     *list-style: decimal; */
/*     /\* Keep using default numbering for IE6/7 *\/ */
/*     font: 15px 'trebuchet MS', 'lucida sans'; */
/*     margin-bottom: 4em; */
/*     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); */
/* } */
/* ol ol { */
/*     margin: 0 0 0 2em; */
/*     /\* Add some left margin for inner lists *\/ */
/* } */
/* .org-ol > li { */
/*     position: relative; */
/*     display: block; */
/*     padding: .4em .4em .4em 2em; */
/*     *padding: .4em; */
/*     margin: .5em 0; */
/*     background: #ddd; */
/*     color: #444; */
/*     text-decoration: none; */
/*     border-radius: .3em; */
/*     transition: all 0.3s ease-out; */
/* } */
/* .org-ol > li:hover { */
/*     background: #eee; */
/* } */
/* .org-ol > li:hover:before { */
/*     transform: rotate(360deg); */
/* } */
/* .org-ol > li:before { */
/*     content: counter(li); */
/*     counter-increment: li; */
/*     position: absolute; */
/*     left: -1.3em; */
/*     top: 50%; */
/*     margin-top: -1.3em; */
/*     background: #87ceeb; */
/*     height: 2em; */
/*     width: 2em; */
/*     line-height: 2em; */
/*     border: .3em solid #fff; */
/*     text-align: center; */
/*     font-weight: bold; */
/*     border-radius: 2em; */
/*     transition: all 0.3s ease-out; */
/* } */
[class^='outline-text-'] > p {
    text-indent: 2em;
}