body {
  margin: 0px 50px 50px 55px;
  background: 	 #FFFFFF; 
  color: 	 #000000; 
  line-height: 	 1.8;
  background-image:	url(/images/bg.gif);
  background-repeat: 	repeat-y;
  font-family: font-family: Verdana, Arial, 微软雅黑, 黑体, sans-serif;
  font-size: 18px;  
}

p {
    font-size:	1em;
    color:	black;
    text-align:	left;
    margin-left: 1.2em;
    
}

div.contents {
  font-color:     red;
  
}

h1 {
  padding:	4px 4px;
  border-color:	#ABCEF1;
  border-style:	double;
  background:	#F8F8F8;
  width: auto;
}

h2 {
  padding:	4px 5px;
  border-color:	#0220B6;
  border-width:	3px 0 0px 0;
  border-style:	solid;
  background:	#E3F0FD;
}

h3 {
  padding:	3px 5px;
  border-color:	#0B0099;
  border-width:	0 0 1px 0px;
  border-style:	solid;
  background:	#F8F8F8;
}

h4 {
    padding:	4px 5px;
    border-color:	#0220B6;
    border-width:	0 0 3px 0;
    border-style:	double;
    font-style:	italic;
    display: inline-block;
}

#table-of-contents {
    font-size: 0.8em;
}

#table-of-contents h2 {
    border: 0;
    Background: none;
    display: inline-block;
    cursor: pointer;
}

code1 {
  padding:	0.5em 0.5em 0.5em 1em;
  background:	#EFEFEF;
  border-color:	#CCCCCC;
  border-width:	0 0 5px 2px;
  border-style:	solid;
  border: #CCAA00 1px solid;
  margin-left:	0px;
  margin-right:	0px;
}

code {
  border-color:	#CCCCCC;
  border-width:	0 2px 0 2px;
  border-style:	solid;
  font-family:	"monospace";
  padding:  0.5em 0.5em 0.5em 1em;
  background:	  #EFEFEF;
  margin-left: 	  0px;
  margin-right:   0px;
}
			
pre.example {
  color:    #3C5E08;
  border:   #CCAA00 1px solid;
  padding:  1.2em 0.5em 1.2em 0.5em;
  margin-right:   0px;
}

em {
    color: #003399;
    font-style:	oblique;
}

/* list */
li p {
    text-indent: 0;
    margin-top: 0;
}

li > p {
    margin-left: 0;
}

li pre.example {
    margin-left: 0;
}

li .org-ol {
    padding-left: 1.2em;
}

li .org-ul {
    padding-left: 1.2em;
}

/* list (end) */

/* table */
table {
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
    /* Zebra striping */
}
table tr:nth-of-type(odd) {
    background: #eee;
}
table tr:hover {
    /* background: #00a8e8; */
    Background:    #CCC700;
    color: white;
}
table th {
    background: #00171f;
    color: #ffffff;
    font-weight: bold;
}
table td,
table th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}
/* table (end) */

/* postamble */
#postamble {
    background: #ffffff url("../images/ribbon.png") no-repeat center;
    height: 120px;
    text-align: center;
    padding-top: 50px;
    font-size: 10px;
}

#postamble .validation {
    display: none;
}

#postamble p {
    text-align: center;
    line-height: 1;
    color: white;
}
/* postamble (end) */


a:link {
  color:	blue;
}

a:visited {
  color:	black; 
}

a:hover {
  color:	red;
}

a:active {
  color:	black:
}

hr {
    display: block;
    height: 2px;
    border: 1px -moz-bg-inset;
    margin: 0.5em auto 0.5em auto;
    -moz-float-edge: margin-box;
    -moz-box-sizing: border-box;
}

[id^='outline-container-'] h3 {
    margin-left: 0.5em;
}

[id^='outline-container-'] h4 {
    margin-left: 1em;
}

[id^='outline-container-'] h5 {
    margin-left: 2em;
}
